<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <title>util project</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/css/jquery-ui.css">
    <link rel="stylesheet" href="/css/common.css">

    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery.form.min.js"></script>
    <script src="/js/jquery-ui.js"></script>
    <script src="/js/jquery.bpopup.min.js"></script>
    <script src="/js/common.js"></script>
    <script src="/js/jquery.validate.min.js"></script>

</head>
<body>

<div th:fragment="paging">
    <nav th:if="${paging.listCnt > 0}">
    <a href="#" th:if="${paging.startPage} > 1" th:onclick="|goPage('1'); return false;|"><span class="first">맨 앞으로 이동</span></a>
    <a href="#" th:if="${paging.startPage} > ${paging.rangeSize}" th:onclick="|goPage(${paging.startPage - paging.rangeSize}); return false;|"><span class="prev">이전으로 이동</span></a>
    <a href="#" th:each="i:${#numbers.sequence(paging.startPage,paging.endPage)}"
        th:class="${paging.curPage==i} ? 'on'" th:text="${i}" th:onclick="|goPage(${i}); return false;|"></a>
    <a href="#" th:if="${paging.endPage} < ${paging.pageCnt}" th:onclick="|goPage(${paging.startPage + paging.rangeSize}); return false;|"><span class="next">다음으로 이동</span></a>
    <a href="#" th:if="${paging.pageCnt} > ${paging.endPage}" th:onclick="|goPage(${paging.pageCnt}); return false;|"><span class="last">맨 뒤로 이동</span></a>
    </nav>
</div>

<div th:fragment="editor">
<script type="text/javascript" src="/smartEditor/js/HuskyEZCreator.js" charset="utf-8"></script>
<script type="text/javascript">
var oEditors = [];
nhn.husky.EZCreator.createInIFrame({
    oAppRef: oEditors, elPlaceHolder: "[[${content}]]",sSkinURI: "/smartEditor/SmartEditor2Skin.html",
    htParams:{bUseToolbar:true,bUseVerticalResizer:true,bUseModeChanger:true},
    fCreator:"createSEditor2"
});
</script>
</div>

</body>
</html>