<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="ko">
<head th:include="/common/fragment::head"></head>
<body>
<!-- 로딩 -->
<div id="loading"><img id="loading-image" src="../images/loading.gif" alt="Loading..." /></div>
<!-- 로딩 -->
<!-- wrapper -->
<div id="wrapper">
	<div id="header">
		<div class="header_top">
			<h1 class="logo_tx"><a href="#"><strong>Onion</strong> Administrator</a></h1>
			<div class="admin_box ">
				<div class="admin_info">
					<div class="selectbox">

					</div>

				</div>
			</div>
		</div>
		<div id="gnb">
			<ul class="depth_01">
				<li class="active"><a href="#">게시판</a></li>
			</ul>
		</div>
	</div>

	<div id="container">
		<div id="lnb" class="side_menu open">
			<div class="tit_box">
				<h5>게시판</h5>
			</div>
			<ul class="depth_none">
				<li class="open">
					<a href="#">게시판</a>
				</li>
			</ul>
			<a class="left_btn" href="#">이동</a>
		</div>
		<div class="content open">
			<ul id="nav">
				<li><a href="#">HOME</a></li>
				<li><a href="#">게시판</a></li>
				<li class="active"><a href="#">게시판</a></li>
			</ul>
			<h3 class="tit">게시판 <span>게시판을 등록하고 관리합니다.</span></h3>
			<div class="sch_wrap">
				<form id="searchForm">
					<table>
						<colgroup>
							<col style="width:10%">
							<col style="width:10%">
							<col style="width:10%">
							<col style="width:10%">
							<col style="width:10%">
							<col style="width:10%">
							<col style="width:10%">
							<col style="width:10%">
							<col style="width:10%">
							<col style="width:10%">
						</colgroup>
						<tbody>
						<tr>
							<th>제목</th>
							<td>
								<input type="text" name="searchTitle">
							</td>

							<th>내용</th>
							<td>
								<input type="text" name="searchContents">
							</td>
						</tr>

						</tbody>
					</table>
					<div class="btn_wrap">
						<button type="button" class="btn-md">초기화</button>
						<button type="button" class="btn-md btn-yel" onclick="goSearch();">검색</button>
					</div>
				</form>
			</div>
			<div class="list_wrap">
				<div class="list_info">
					<dl class="fl">
						<dt>전체 상품관리 목록</dt>
						<dd>(전체 2,000개)</dd>
					</dl>
					<div class="fr">
						<div class="select-box-t">
							<label for="">선택</label>
							<select>
								<option selected="">선택</option>
								<option>ooo</option>
								<option>ooo</option>
								<option>ooo</option>
							</select>
						</div>
						<button type="button" class="btn-sm btn-dark" id="btn_add">등록</button>
					</div>
				</div>
				<table class="list">

					<thead>
					<tr>
						<th>No</th>
						<th>상품명</th>
						<th>원수사</th>
						<th>상품가격</th>
						<th>등록일시</th>
						<th>게시여부</th>
						<th>이미지등록여부</th>
						<th>삭제</th>
					</tr>
					</thead>
					<tbody>
					<tr>
						<td>128</td>
						<td class="tal"><a href="#">좋은날 보험</a></td>
						<td>KB</td>
						<td class="tar">25,000</td>
						<td>2020-12-01 09:22:13</td>
						<td>
							<div class="toggleBG on">
								<button class="toggleFG active"></button>
							</div>
						</td>
						<td>등록</td>
						<td><button class="btn-xs btn-gray">삭제</button></td>
					</tr>
					</tbody>
				</table>
				<div class="paging_area">
					<nav>
						<button class="page first" href="#" disabled="">맨 앞으로 이동</button>
						<button class="page prev" href="#" >이전으로 이동</button>
						<a href="#">1</a>
						<a href="#" class="on">2</a>
						<a href="#">3</a>
						<a href="#">4</a>
						<a href="#">5</a>
						<a href="#">6</a>
						<a href="#">7</a>
						<a href="#">8</a>
						<a href="#">9</a>
						<a href="#">10</a>
						<button class="page next" href="#">다음으로 이동</button>
						<button class="page last" href="#" disabled="">맨 뒤로 이동</button>
					</nav>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	$(function(){
		var $dataForm = $("#dataForm");
		var $searchForm = $("#searchForm");

		$searchForm.find("input").keydown(function(e) {
			if(e.keyCode == 13) {
				goSearch();
			}
		});

		goSearch = function(){
			$searchForm.attr({"action":"/board/list","target":"_self","method":"get"}).submit();
		};

		$('#btn_add').click(function () {
			location.href="/board/form";
		});



		// 검색 초기화
		searchClear = function() {
			$searchForm.find("input[type=text]").val("");
			$searchForm.find(".select_box").find("option:eq(0)").prop("selected",true);
			goSearch();
		};

		// 페이지 이동
		goPage = function (ov) {
			$dataForm.find("input[name='curPage']").val(ov);
			$dataForm.attr({"action":"/demo/demoLT","target":"_self","method":"post"}).submit();
		};

		// 상세
		goEdit = function (ov) {
			$dataForm.find("input[name='demoSeqNo']").val(ov);
			$dataForm.attr({"action": "/demo/demoFM", "target":"_self", "method":"post"}).submit();
		};
	});
</script>
</body>
</html>




