<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heeseong.util.mapper.BoardMapper">

    <sql id="searchOption">
        <where>
            <if test="searchTitle != null and searchTitle != ''">
                AND title like CONCAT('%', #{searchTitle}, '%')
            </if>
            <if test="searchContents != null and searchContents != ''">
                AND contents like CONCAT('%', #{searchContents}, '%')
            </if>
        </where>
    </sql>
    <insert id="insertBoard" parameterType="Board" useGeneratedKeys="true" keyProperty="idx">
    /* BoardMapper.insertBoard */
        INSERT INTO board (
            board_type
            , contents
            , title
            , registrant
            , modifier
            , reg_date
            , mod_date
        ) VALUES (
            '1'
            , #{contents}
            , #{title}
            , #{registrant}
            , #{modifier}
            , #{regDate}
            , #{modDate}
        )
    </insert>

    <select id="selectBoardListCount" parameterType="Board" resultType="int">
       SELECT COUNT(*)
         FROM board
         <include refid="searchOption"/>
    </select>

    <select id="selectBoardList" parameterType="Board" resultType="Board">
    /* BoardMapper.insertBoard */
        SELECT *
        FROM board
        <include refid="searchOption"/>
        ORDER BY reg_date DESC
        LIMIT #{startIndex}, #{pageSize}
    </select>

    <insert id="insertFileInfo" parameterType="CommonFile">
    /* BoardMapper.insertBoard */
        INSERT INTO file (
            board_idx
            , uuid
            , upload_path
            , original_file_name
            , extension
            , registrant
            , regDate
            , modifier
            , modDate
        ) VALUES (
             #{boardIdx}
            , #{uuid}
            , #{uploadPath}
            , #{originalFileName}
            , #{extension}
            , #{registrant}
            , NOW()
            , #{registrant}
            , NOW()
        )
    </insert>

    <select id="selectBoard" parameterType="Integer" resultType="Board">
        SELECT *
          FROM board
         WHERE idx = #{idx}
    </select>

</mapper>