<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heeseong.util.mapper.BoardMapper">

    <insert id="insertBoard" parameterType="Board" useGeneratedKeys="true" keyProperty="idx">
    /* BoardMapper.insertBoard */
        INSERT INTO board (
            board_type
            , contents
            , title
            , registrant
            , modifier
            , reg_date
            , mod_date
        ) VALUES (
            '1'
            , #{contents}
            , #{title}
            , #{registrant}
            , #{modifier}
            , #{regDate}
            , #{modDate}
        )
    </insert>

    <select id="selectBoardListCount" parameterType="String" resultType="int">
       SELECT COUNT(*)
         FROM board
        <where>
            <if test="title != null and title != ''">
             AND title like CONCAT('%', #{title}, '%')
            </if>
        </where>
    </select>

    <insert id="insertFileInfo" parameterType="CommonFile">
    /* BoardMapper.insertBoard */
        INSERT INTO file (
            board_idx
            , uuid
            , upload_path
            , original_file_name
            , extension
            , registrant
            , regDate
            , modifier
            , modDate
        ) VALUES (
             #{boardIdx}
            , #{uuid}
            , #{uploadPath}
            , #{originalFileName}
            , #{extension}
            , #{registrant}
            , NOW()
            , #{registrant}
            , NOW()
        )
    </insert>

</mapper>